{% extends "partials/bases.html" %}

{% block nav %}
  <div class="bases_lisr_post">
    <div>
      {% for post in list %}
        <div>
          <div class="user_class">
            
          </div>
          <div class="post_image">
            
          </div>
          <div class="post_tagg">
            
          </div>
          <div class="post_comment">
            
          </div>
          <div class="post_likes">
            
          </div>
          
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}